:root {
    --box-color: #fff;
    --fg-color: #0095FF;
    --bg-color: #fff;
    --light-color: #CDCDCD;
    --box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    --box-shadow-hover: 0 8px 8px 0 rgba(0,0,0,0.2);
    --border-radius: 0.4rem;
    --border-color: #5F6368;
}   

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

a {
    color: var(--fg-color);
}


/* Non scrollable*/
html, body {
    margin:0;
    height: 100vh;
    overflow: hidden;
    margin: 0 1rem 0 1rem;
}

.wt {
    display: none;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.current-wt {
    display: grid;
    height: 96%;
}

footer {
    width: 100%;
    height: 3%;
}

footer a {
    color: var(--light-color);
}

footer span {
    color: var(--light-color);
}

footer textarea {
    left: 25%;
    width: 50%;
    position: absolute;
    background-color: #fff;
    border: none;
    resize: none;
}

/*+++++++++++++++++++++++++++ Icon Grid Element ++++++++++++++++++++++++++++++*/
.icon-grid {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: repeat(6, minmax(3rem, 1fr));
    grid-auto-rows: minmax(3rem, 1fr);
}

/* + + + Icon Element + + + */
.icon {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.icon a {
    display: block;
    height: 100%;
    width: 100%;
}

.icon a img {
    width: 95%;
    height: minmax(auto, 100%);
}

.icon:hover,
.icon:focus {
    box-shadow: var(--box-shadow-hover);
}

/* + + + Searchbar Element + + + */
.search {
    height: 100%;
    width: 100%;
    text-align: center;
}

.searchbar {
    width: 80%;
    border: 1px solid #ada9a9;
    border-radius: var(--border-radius);
    padding: 1rem;
    opacity: 0.5;
}

.searchbar:hover,
.searchbar:focus {
    box-shadow: 0 1px 10px rgba(32, 33, 36, 0.5);
    border: none;
    outline: none !important;
}


/* + + + Edit Icon + + + */
.btn {
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--bg-color);
    color: var(--bg-color); 
    padding: 0.4rem;
    float: right;
}


#edit-config { 
    float: right;
    border: none; 
    background-color: var(--bg-color);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    color: var(--fg-color);
}

.save-edit:hover,
#edit-config:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    transform: translateY(-0.2rem);
}

.edit-form {
    z-index: 10;
    position: relative;
    padding: 1rem;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border: 1px solid #ada9a9;
    border-radius: var(--border-radius);
}

.edit-form p {
    padding: 0.2rem;
}

.text-input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin: 0 0 1.5rem 0;
}

.select-input {
   margin: 0 0 1.5rem 0;
}

.save-edit {
    width: 100%;
    float: left;
    background-color: var(--fg-color);

}

.quit-edit {
    position: absolute;
    color: white;
    background-color: #F05923;
    top: -10px;
    right: -10px;
}


.to-edit-form {
    background-color: var(--fg-color);
    padding: 0.2rem;
}


#search-edit-form label {
    margin: 0 0 1rem 0;
}



/* + + + Help Page + + + */
.opaque-overlay {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.80;
    background-color: #000;
    display: grid;
    grid: 1fr / repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 2rem;
}

.info {
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
}

.info h2 {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.2rem;
}

/* For Commands */
.cmd {
    color: #0095FF;
    margin: 1rem 0 0 0; 
}
.tab {
    margin-left: 2rem;
}

.tab2 {
    margin-left: 4rem;
}

/* For Shortcuts*/
.info h4 {
    padding-top: 1rem;
}

.alined-td {
    padding: 0.2rem;
    width: 9rem;
    color: #0095FF;
}

.option-color {
    color: #0095FF;
}   