:root {
    --box-color: #fff;
    --fg-color: #0095FF;
    --bg-color: #fff;
    --box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    --box-shadow-hover: 0 8px 8px 0 rgba(0,0,0,0.2);
    --border-radius: 0.4rem;
    --border-color: #5F6368;
}   

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

html, body {
    overflow: hidden;
}

main {
    margin: 0 5% 0 5%;
}

#search {

}

.search-input {
    width: 80%;
    margin: 5rem 10%;
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#icon-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, minmax(3rem, 1fr));
    grid-auto-rows: minmax(3rem, 1fr);
}

.icon {
    /*flex: f-grow, f-shrink, width*/ 
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.icon a {
    height: 100%;
    width: 100%;
}

.icon a img {
    height: 100%;
    width: 100%;
}

.icon:hover {
    box-shadow: var(--box-shadow-hover);
}

#config-icon {

}

/* Settings form */

.overlay-form {
    z-index: 999;
    position: absolute;
    top: 50%;

    padding: 1rem;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border: 1px solid #ada9a9;
    border-radius: var(--border-radius);
}

.text-input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin: 0 0 1.5rem 0;
}

.btn {
    float: right;
    padding: 0.4rem;
    color: var(--bg-color);
    background-color: var(--fg-color);
    border: none;
    border-radius: var(--border-radius);
}

.change-settings {
    width: 45%;
}

.quit-settings {
    position: absolute;
    background-color: #F05923;
    color: white;
    top: -10px;
    right: -10px;
}